body {
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(#D3CCE3, #E9E4F0);
    height: 100vh;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(blanchedalmond, antiquewhite);
    width: 600px; 
    margin: 20px auto 20px auto;
    padding: 20px;
}

.calculator-box {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(blanchedalmond, antiquewhite);
    border: 1px solid white;
    border-radius: 20px; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.calculator-box .calculator-header{ 
    background-image: linear-gradient(antiquewhite, blanchedalmond);
    height: 50px;
}

.calculator-header p {
    font-family: cursive;
    font-size: 1.8em;
    color: black;
    text-align: center; 
    padding: 10px 0px 3px 10px;
}

 

.calculator-box .screen-box {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.calculator-box .screen-box input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    direction: rtl;
    font-family: monospace;
    font-size: 3em;
}

.calculator-box .screen-box input:focus {
    outline: none;
}

.numbers-box {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;  
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 0 auto;  
    width: 350px; 
    height: 400px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.numbers-box button {
    background-color: wheat;
    font-family: monospace;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid cornsilk; 
}

.numbers-box button:focus{ 
    outline: none;
    transition: 0.5s;
}

.numbers-box button:active {
    background-color: blanchedalmond;;
    border: 1px solid grey; 
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
    transition: 0.4s;
}

footer {
    font-size: 2em;
    margin: 10px;
}

footer a:hover {
    background-color: darksalmon;
}